*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 
nav {
    height: 42px;
    padding: 40px;
    padding-top: 0%;
    display: flex;
    justify-content: space-between;
    background-color: #3b5249;
    color: white;
    font-size: large;
    position: fixed;
    width: 100%;
}
nav> #description{
    padding-top: 10px;
}

.front-container{
    background-image: url(img/faguo.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.front-container > .overlay-text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 15px;
}

.front-container > h1{
    color: white;
    background-color: #3B4C52;
    padding: 10px 15px;
    border-radius: 20px;
    height: max-content;
}

.front-container > .overlay-text >.label-input{
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: #082D0F;
    color: white;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 15px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    gap: 5px;

}

.front-container > .overlay-text > .label-input > button{
    border-radius: 20px;
    padding: 5px;
    width: max-content;
    font-weight: 900;
    cursor: pointer;
    margin: 0 auto;
}
.front-container > .overlay-text > .label-input > button:hover{
    background-color: #639578;
    color: #fff;
}
.front-container > .overlay-text > .input{
    display: none;
    background-color: #082D0F;
    height: fit-content;
    color: white;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
.front-container > .overlay-text > .input.active{
    display: block;
}

.product-container {
    background-color: #F1F7EE;
    display: none;
}

.product-container.active{
    display: block;
}

.product-container > .welcome{
    text-align: center;
    background-color: aliceblue;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 15px;
}
.products > .item{
    background-color: #3B4C52;
    border-radius: 15px;
    padding: 10px;
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.products > .item > img{
    width: 280px;
    height: 250px;
    border-radius: 15px;
}
.products > .item > #price{
    text-align: center;
    font-weight: 900;
}
.products > .item > button{
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin: auto;
    width: 230px;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}
.products > .item > button:hover{
    background-color: white;
    color: #3B4C52;
    font-weight: 800;
}
.modal{
    background-color: aliceblue;
    color: black;
    width: 400px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.modal.active{
    display: flex;
}
.modal > .modal-button{
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    gap: 5px;
}
.modal > .modal-button> #cancel{
    border-radius: 15px;
    background-color: rgb(163, 161, 161);
    color: black;
    padding: 10px;
    font-weight: 900;
}
.modal > .modal-button> #confirm{
    border-radius: 15px;
    background-color: #639578;
    color: #fff;
    padding: 10px;
    font-weight: 900;
}
.modal > .modal-button> #cancel:hover{
    background-color: black;
    color: #fff;
}
.modal > .modal-button> #confirm:hover{
    background-color: #fff;
    color: #3b5249;
}
.thankyou{
    background-color: #082D0F;
    color: #fff;
    width: 400px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px;
}
.thankyou.active{
    display: flex;
}
.thankyou > button{
    background-color: white;
    color: #082D0F;
    border-radius: 15px;
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}
.thankyou > button:hover{
    background-color: #90b7a1;
    color: #fff;
}